header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
header img {
  width: 25vw;
  height: 25vh;
  margin: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav button {
  margin: 1rem;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  color: #0dc1ee;
  background-color: #ffffff;
  border: 1px solid #0dc1ee;
  border-radius: 10px;
  padding: 0.5rem;
}

nav button:hover {
  background-color: #0dc1ee;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  padding: 2rem;
}
footer .div-visit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .div-follow h3, footer .div-visit h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
footer .div-follow h4, footer .div-visit h4 {
  font-size: 2.5rem;
  font-weight: 300;
}
footer .div-follow a, footer .div-visit a {
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 1rem;
  color: #0dc1ee;
}

.redes {
  display: flex;
  flex-direction: column;
}

a {
  color: #0dc1ee;
}

a:link {
  text-decoration: none;
}

#section-paniales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  display: none;
}
#section-paniales h1 {
  text-align: center;
  margin: 2.5rem 1.5rem;
  font-size: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-row .flex-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0dc1ee;
  padding: 1rem;
  width: 45%;
  margin: 1rem;
  border-radius: 10px;
}

.img-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}
.img-group img {
  width: 40%;
  margin: 1rem;
}
.img-group img:hover {
  transform: scale(1.2);
}

#section-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ace9d9;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  font-size: 2rem;
  padding: 2.5rem;
}

#section-juguetes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  display: none;
}
#section-juguetes h1 {
  text-align: center;
  margin: 2.5rem 1.5rem;
  font-size: 2rem;
}

#section-ropa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  margin-bottom: 0.5rem;
  display: none;
}
#section-ropa .ropa-logo {
  width: 15%;
}
#section-ropa h1 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}
#section-ropa p {
  font-size: 2rem;
  margin-top: 1rem;
}
#section-ropa .ropa-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section-ropa .ropa-link a {
  margin: 1.5rem;
  font-size: 1.5rem;
}

#section-envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  background-color: #0dc1ee;
  color: #ffffff;
  margin-bottom: 0.5rem;
  display: none;
}
#section-envios h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
#section-envios p {
  font-size: 2rem;
  text-align: center;
}

.flex-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 2rem;
}
.flex-ul h2 {
  font-size: 2rem;
}
.flex-ul h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.flex-ul .card-envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 10px;
}
.flex-ul .card-envios:hover {
  background-color: #ffffff;
  color: #0dc1ee;
}

@media screen and (max-width: 2560px) {
  nav button {
    font-size: 2.5rem;
  }

  #section-paniales h1, h2, footer .div-follow h3, footer .div-visit h3, footer .div-visit a, footer .div-follow a, a {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1440px) {
  header img {
    height: 20vh;
  }

  footer .div-follow h3, footer .div-visit h3, footer .div-visit a, footer .div-follow a, a {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1024px) {
  header img {
    height: 15vh;
  }
}
@media screen and (max-width: 768px) {
  header img {
    width: 35vw;
    height: 13vh;
  }

  nav {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  nav button {
    margin: 1rem;
  }

  .flex-row {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .flex-row .flex-columns {
    width: 80%;
  }

  #section-paniales h1, h2, #section-juguetes h1 {
    font-size: 3rem;
  }

  .img-group img {
    width: 50%;
  }

  #section-ropa .ropa-logo {
    width: 35%;
  }

  #section-ropa h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
  }

  #section-ropa p {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 200;
    margin: 1.5rem;
  }

  footer .div-follow h3, footer .div-visit h3, footer .div-follow {
    font-size: 2rem;
  }

  footer .div-follow h3, footer .div-visit h3 {
    font-weight: 500;
  }

  footer .div-visit h3 {
    margin-bottom: 1rem;
  }

  footer .div-visit h4, footer .div-visit a, footer .div-follow a {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .div-visit {
    padding-right: 1rem;
  }

  .div-follow {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 425px) {
  header img {
    height: 13vh;
    width: 33vw;
  }

  nav button {
    margin: 0.5rem;
    font-size: 1rem;
  }

  #section-paniales h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  footer .div-follow h3, footer .div-visit h3, footer .div-visit a, footer .div-follow a, a {
    font-size: 1rem;
  }

  #section-inicio h1, #section-inicio p {
    font-size: 1.5rem;
    text-align: center;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
