header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
header img {
  width: 25vw;
  height: 25vh;
  margin: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav button {
  margin: 1rem;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  color: #0dc1ee;
  background-color: #ffffff;
  border: 1px solid #0dc1ee;
  border-radius: 10px;
  padding: 0.5rem;
}

nav button:hover {
  background-color: #0dc1ee;
  color: #ffffff;
}

#section-paniales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  margin: 2.5rem 1.5rem;
  font-size: 2rem;
  display: none;
}
#section-paniales h1 {
  margin: 1.5rem;
}
#section-paniales .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section-paniales .botones button {
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid #CCF8FB;
  font-family: "Acme", sans-serif;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
}
#section-paniales .botones button img {
  width: 5rem;
}
#section-paniales .botones button:hover {
  background-color: #0dc1ee;
  color: #0dc1ee;
}
#section-paniales #card-paniales-pampers, #section-paniales #card-paniales-huggies,
#section-paniales #card-paniales-babysec, #section-paniales #card-paniales-estrella,
#section-paniales #card-paniales-duffy, #section-paniales #card-paniales-caricias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0dc1ee;
  margin: 1.5rem;
  padding: 1.5rem;
  width: 65%;
  border-radius: 10px;
  border: 2px solid #CCF8FB;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#section-paniales .card-detalle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCF8FB;
  margin: 1rem;
}
#section-paniales .card-detalle img {
  width: 30%;
}
#section-paniales .card-detalle .detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
#section-paniales .card-detalle .detalle h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#section-paniales .card-detalle .detalle p, #section-paniales .card-detalle .detalle li {
  font-size: 1.2rem;
}
#section-paniales .card-detalle .detalle .talles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
#section-paniales .card-detalle .detalle .talles li {
  list-style: none;
}

#card-paniales-pampers, #card-paniales-huggies,
#card-paniales-babysec, #card-paniales-estrella,
#card-paniales-duffy, #card-paniales-caricias {
  display: none;
}

.boton-volver-atras {
  border-radius: 10px;
  border: 1px solid #CCF8FB;
  background-color: #0dc1ee;
  color: #ffffff;
  padding: 1.5rem;
  margin: 1.5rem;
}

.boton-volver-atras:hover {
  background-color: #ffffff;
  color: #0dc1ee;
}

#section-juguetes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  display: none;
}
#section-juguetes h1 {
  text-align: center;
  margin: 2.5rem 1.5rem;
  font-size: 2rem;
}
#section-juguetes #card-juguetes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0dc1ee;
  margin: 1.5rem;
  padding: 1.5rem;
  width: 65%;
  border-radius: 10px;
  border: 2px solid #CCF8FB;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#section-juguetes #card-juguetes .card-detalle-juguetes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCF8FB;
  margin: 1rem;
}
#section-juguetes #card-juguetes .card-detalle-juguetes img {
  width: 30%;
}
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p {
  font-size: 1.2rem;
}

#section-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-image: url("https://i.pinimg.com/474x/a1/86/78/a1867852dd54daa48ff8e8f375d235de.jpg");
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  font-size: 2rem;
  padding: 2.5rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0 0 15px 0 #0dc1ee;
}
#section-inicio .card-contenedor {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
}
#section-inicio .card-contenedor .card-integrantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-inicio .card-contenedor .card-integrantes h1 {
  margin-top: 2rem;
}
#section-inicio .card-contenedor .card-integrantes h4 {
  font-weight: 200;
  margin-top: 1rem;
}
#section-inicio .card-contenedor .card-integrantes p {
  margin-top: 2.5rem;
}
#section-inicio .card-contenedor .card-local {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-inicio .card-contenedor .card-local h1 {
  margin-top: 4rem;
}
#section-inicio .card-contenedor .card-local h4 {
  font-weight: 200;
  margin-top: 1rem;
}
#section-inicio a {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

#section-ropa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  width: 65%;
  font-size: 2rem;
  padding: 2.5rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0 0 15px 0 #0dc1ee;
  display: none;
}
#section-ropa .ropa-logo {
  width: 25%;
}
#section-ropa .card-principal {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
}
#section-ropa .card-principal h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
#section-ropa .card-principal h4 {
  font-weight: 200;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
#section-ropa .card-principal #card-ropa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0dc1ee;
  margin: 1.5rem;
  padding: 1.5rem;
  width: 95%;
  border-radius: 10px;
  border: 2px solid #CCF8FB;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#section-ropa .card-principal #card-ropa .card-detalle-ropa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCF8FB;
  margin: 1rem;
}
#section-ropa .card-principal #card-ropa .card-detalle-ropa img {
  width: 30%;
}
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p {
  font-size: 1.2rem;
}
#section-ropa .card-principal .contacto-ropa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
#section-ropa .card-principal .contacto-ropa a {
  font-size: 2rem;
}

#section-envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  width: 65%;
  font-size: 2rem;
  padding: 2.5rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0 0 15px 0 #0dc1ee;
  display: none;
}
#section-envios .card-envios-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
}
#section-envios .card-envios-principal h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
#section-envios .card-envios-principal h4 {
  font-weight: 200;
}
#section-envios .card-envios-principal h3, #section-envios .card-envios-principal h4 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
#section-envios .card-envios-principal h3 {
  font-weight: "bold";
}
#section-envios .card-envios-principal img {
  width: 55%;
  margin-top: 1.5rem;
}
#section-envios .card-envios-principal #card-envios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0dc1ee;
  margin: 1.5rem;
  padding: 1.5rem;
  width: 95%;
  border-radius: 10px;
  border: 2px solid #CCF8FB;
}
#section-envios .card-envios-principal #card-envios .detalle-envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #CCF8FB;
  border-radius: 10px;
  margin: 1.5rem;
}
#section-envios .card-envios-principal #card-envios .detalle-envios h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#section-envios .card-envios-principal #card-envios .detalle-envios ul {
  list-style: none;
  font-size: 1.5rem;
}

#section-pagos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  width: 65%;
  font-size: 2rem;
  padding: 2.5rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0 0 15px 0 #0dc1ee;
  display: none;
}
#section-pagos .card-pagos-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
}
#section-pagos .card-pagos-principal h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
#section-pagos .card-pagos-principal #card-pagos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #0dc1ee;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #CCF8FB;
}
#section-pagos .card-pagos-principal #card-pagos .detalle-pagos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 1px solid #CCF8FB;
  border-radius: 10px;
  margin: 1.5rem;
}
#section-pagos .card-pagos-principal #card-pagos .detalle-pagos h4 {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 200;
}
#section-pagos .card-pagos-principal #card-pagos .detalle-pagos img {
  width: 20%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  font-family: "Acme", sans-serif;
  color: #0dc1ee;
  padding: 2rem;
  font-size: 1.5rem;
}
footer h1 {
  margin-bottom: 1rem;
}
footer .redes {
  margin-top: 2.5rem;
}
footer .redes a {
  color: #ffffff;
  background-color: #0dc1ee;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
footer .redes a:link {
  text-decoration: none;
}
footer .redes a:hover {
  color: #0dc1ee;
  background-color: #ffffff;
}

@media screen and (max-width: 2560px) {
  nav button {
    font-size: 3rem;
  }

  #section-inicio .card-contenedor .card-integrantes h1, #section-inicio .card-contenedor .card-integrantes a {
    font-size: 3rem;
  }
  #section-inicio .card-contenedor .card-integrantes h4 {
    font-size: 2.5rem;
  }

  #section-paniales h1 {
    font-size: 3rem;
  }
  #section-paniales .botones button img {
    width: 7rem;
  }
  #section-paniales .card-detalle {
    margin-top: 1.5rem;
  }
  #section-paniales .card-detalle .detalle h4 {
    font-size: 2.5rem;
  }
  #section-paniales .card-detalle .detalle p {
    font-size: 2rem;
  }
  #section-paniales .card-detalle .detalle .talles li {
    font-size: 2rem;
  }

  #section-juguetes h1 {
    font-size: 3rem;
  }
  #section-juguetes #card-juguetes h2 {
    font-size: 2.5rem;
  }

  #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete h4 {
    font-size: 2.5rem;
  }
  #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p {
    font-size: 2rem;
  }

  #section-ropa .card-principal h1 {
    font-size: 3rem;
  }
  #section-ropa .card-principal h4 {
    font-size: 2.5rem;
  }
  #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa h4 {
    font-size: 2.5rem;
  }
  #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p {
    font-size: 2rem;
  }
  #section-ropa .card-principal .contacto-ropa {
    margin-top: 2.5rem;
  }

  #section-envios .card-envios-principal h1 {
    font-size: 3rem;
  }
  #section-envios .card-envios-principal h4, #section-envios .card-envios-principal h3 {
    font-size: 2.5rem;
  }
  #section-envios .card-envios-principal #card-envios .detalle-envios h4 {
    font-size: 2.5rem;
  }
  #section-envios .card-envios-principal #card-envios .detalle-envios li {
    font-size: 2rem;
  }

  #section-pagos .card-pagos-principal h1 {
    font-size: 3rem;
  }
  #section-pagos .card-pagos-principal #card-pagos .detalle-pagos h4 {
    font-size: 2.5rem;
  }

  footer h1 {
    font-size: 3rem;
  }
  footer .redes a:link {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1440px) {
  header img {
    height: 20vh;
  }

  footer .div-follow h3, footer .div-visit h3, footer .div-visit a, footer .div-follow a, a {
    font-size: 2.3rem;
  }

  #section-paniales .card-detalle .detalle p, #section-paniales .card-detalle .detalle .talles li {
    font-size: 1.7rem;
  }

  #section-paniales .card-detalle img {
    margin-right: 2rem;
  }

  #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1024px) {
  header img {
    height: 13vh;
  }

  nav button {
    font-size: 2rem;
  }

  #section-paniales .botones button img {
    width: 5rem;
  }

  #section-paniales .card-detalle .detalle p, #section-paniales .card-detalle .detalle .talles li,
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p,
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p {
    font-size: 1.5rem;
  }

  #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p {
    text-align: center;
  }

  #section-envios .card-envios-principal h4, #section-envios .card-envios-principal h3,
#section-ropa .card-principal h4 {
    font-size: 2rem;
  }

  #section-envios .card-envios-principal #card-envios .detalle-envios li {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 768px) {
  header img {
    width: 30vw;
    height: 10vh;
  }

  nav button, #section-inicio .card-contenedor .card-integrantes h4,
#section-inicio .card-contenedor .card-local h4,
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete h4 {
    font-size: 1rem;
  }

  #section-inicio .card-contenedor .card-integrantes h1,
#section-inicio .card-contenedor .card-integrantes a,
#section-inicio .card-contenedor .card-local h1,
#section-paniales .card-detalle .detalle h4,
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa h4,
#section-inicio a {
    font-size: 1rem;
  }

  #section-inicio .card-contenedor .card-local h1 {
    margin-top: 1.5rem;
  }

  #section-inicio {
    padding: 1.5rem;
  }

  #section-paniales .botones button img {
    width: 3rem;
  }

  #section-paniales h1,
footer h1,
#section-paniales #card-paniales-pampers h2,
#section-paniales #card-paniales-huggies h2,
#section-paniales #card-paniales-babysec h2,
#section-paniales #card-paniales-estrella h2,
#section-paniales #card-paniales-duffy h2,
#section-paniales #card-paniales-caricias h2,
#section-juguetes h1,
#section-juguetes #card-juguetes h2,
#section-ropa .card-principal h1,
#section-envios .card-envios-principal h4,
#section-envios .card-envios-principal h3,
#section-ropa .card-principal h4,
#section-ropa .card-principal .contacto-ropa a,
#section-envios .card-envios-principal h1,
#section-envios .card-envios-principal h4,
#section-envios .card-envios-principal h3,
#section-envios .card-envios-principal #card-envios .detalle-envios h4,
#section-pagos .card-pagos-principal h1,
#section-pagos .card-pagos-principal #card-pagos .detalle-pagos h4,
footer .redes a:link {
    font-size: 1.5rem;
  }

  #section-paniales .card-detalle .detalle p, #section-paniales .card-detalle .detalle p,
#section-paniales .card-detalle .detalle .talles li,
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p,
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p,
#section-envios .card-envios-principal #card-envios .detalle-envios li {
    font-size: 1rem;
  }

  #section-juguetes h1,
#section-juguetes #card-juguetes {
    margin: 1rem;
  }

  #section-envios .card-envios-principal #card-envios,
#section-envios .card-envios-principal #card-envios .detalle-envios {
    padding: 0.5rem;
  }

  #section-envios {
    padding: 1rem;
  }
}
@media screen and (max-width: 425px) {
  header img {
    width: 50vw;
    height: 40vh;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }

  footer .redes a:link {
    font-size: 0.7rem;
  }

  #section-pagos .card-pagos-principal #card-pagos .detalle-pagos h4 {
    font-size: 1rem;
  }

  footer .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  footer .redes a {
    padding: 0.5rem;
  }

  #section-inicio a,
#section-inicio .card-contenedor .card-integrantes a {
    font-size: 0.7rem;
  }

  #section-paniales .botones {
    display: flex;
    flex-wrap: wrap;
  }

  #section-paniales .card-detalle .detalle p,
#section-paniales .card-detalle .detalle p,
#section-paniales .card-detalle .detalle .talles li,
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p,
#section-ropa .card-principal h4,
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p,
#section-ropa .card-principal .contacto-ropa a,
#section-envios .card-envios-principal #card-envios .detalle-envios li {
    font-size: 0.5rem;
  }

  #section-envios .card-envios-principal h4,
#section-envios .card-envios-principal h3,
#section-envios .card-envios-principal #card-envios .detalle-envios h4 {
    font-size: 1rem;
  }

  #section-paniales .card-detalle,
#section-paniales .card-detalle .detalle,
#section-ropa .card-principal #card-ropa .card-detalle-ropa,
#section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa h4 {
    margin: 0.5rem;
  }

  #section-paniales .card-detalle img {
    margin: 0.2rem;
  }

  #section-paniales #card-paniales-pampers,
#section-paniales #card-paniales-huggies,
#section-paniales #card-paniales-babysec,
#section-paniales #card-paniales-estrella,
#section-paniales #card-paniales-duffy,
#section-paniales #card-paniales-caricias,
#section-paniales ul,
#section-juguetes #card-juguetes,
#section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p,
#section-ropa .card-principal #card-ropa {
    padding: 0.5rem;
  }

  #section-paniales .card-detalle .detalle .talles {
    margin-top: 0.5rem;
  }

  #section-juguetes #card-juguetes h2 {
    text-align: center;
  }

  #section-ropa .card-principal h4 {
    font-size: 0.7rem;
  }

  #section-ropa .card-principal #card-ropa .card-detalle-ropa,
#section-envios .card-envios-principal #card-envios,
#section-pagos .card-pagos-principal #card-pagos {
    padding: 0.2rem;
  }

  #section-ropa .card-principal #card-ropa,
#section-pagos .card-pagos-principal #card-pagos {
    margin: 0;
    margin-top: 0.5rem;
  }

  #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa,
#section-envios .card-envios-principal #card-envios .detalle-envios,
#section-envios .card-envios-principal #card-envios .detalle-envios h4 {
    margin: 0.2rem;
  }

  #section-envios .card-envios-principal #card-envios .detalle-envios ul {
    padding-left: 0rem;
  }

  #section-ropa, #section-pagos {
    padding: 1rem;
  }

  #section-envios .card-envios-principal #card-envios {
    margin: 0;
    margin-top: 1rem;
  }

  #section-pagos .card-pagos-principal #card-pagos .detalle-pagos {
    margin: 1rem;
  }

  #section-pagos .card-pagos-principal h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 375px) {
  header img {
    height: 35vh;
  }
}
@media screen and (max-width: 320px) {
  footer h1 {
    text-align: center;
  }

  #section-paniales #card-paniales-pampers, #section-paniales #card-paniales-huggies, #section-paniales #card-paniales-babysec, #section-paniales #card-paniales-estrella, #section-paniales #card-paniales-duffy, #section-paniales #card-paniales-caricias, #section-paniales ul, #section-juguetes #card-juguetes, #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p, #section-ropa .card-principal #card-ropa {
    padding: 0.1rem;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
