#section-contacto{
    @include flex ($direction:column, $justify:flex-start, $align:center);
    width: 80%;
    font-family: $typography;
    margin-bottom: $espacioL;
    h2{
        color: $colorSecundario;
        font-size: $sizeXL;
    }
    .card-contacto{
        @include flex ($direction:row, $justify:space-around, $align:flex-start);
        width: 100%;
        margin-top: 5rem;
        .contacto-texto{
            @include flex ($direction:column, $justify:center, $align:flex-start);
            width: 40%;
            p, a{
                text-decoration: none;
                color: $colorSecundario;
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1.8;
            }
            a span{
                @include flex ($direction:row, $justify:flex-start, $align:center);
                p{
                    margin-left: $espacioS;
                }
            }
        }
        .contacto-form{
            @include flex ($direction:column, $justify:center, $align:flex-start);
            width: 40%;
            label{
                color: $colorSecundario;
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: $espacioXXS;
            }
            input, textarea{
                border-radius: $borderRadius;
                border: none;
                margin-bottom: $espacioXS;
                width: 90%;
            }
            input{
                height: 20px;
            }
            input:focus, textarea:focus{
                outline: none;
            }
            .enviar{
                font-family: $typography;
                border-radius: $borderRadius2;
                background-color: $colorSecundario;
                color: $colorPrincipal;
                border: none;
                font-size: 1.2rem;
                margin-top: $espacioS;
                padding: $espacioXS;
                cursor: pointer;
            }
            .enviar:hover{
                background-color: $colorPrincipal;
                color: $colorSecundario;
            }
        }
    }
    
    display: none;
}
