#section-contacto{
    @include flex ($direction:column, $justify:center, $align:center);
    font-family: $typography;
    color: $colorPrincipal;
    width: 65%;
    font-size: $sizeL;
    padding: $espacioXL;
    border-radius: $borderRadius;
    margin: $espacioM;
    box-shadow: 0 0 15px 0 $colorPrincipal;
    .card-envios-principal{
        @include flex ($direction:column, $justify:center, $align:center);
        background-color: $colorSecundario;
        padding: $espacioS;
        border-radius: $borderRadius;
        h1{
            text-align: center;
            margin-top: $espacioS;
            font-size: $sizeL;
        }
        h4{
            font-weight: 200;
        }
        h3,h4{
            margin-top: $espacioS;
            font-size: $sizeM;
            text-align: center;
        }
        h3{
            font-weight: "bold";
        }
        img{
            width: 55%;
            margin-top: $espacioM;
        }
        
        #card-envios{
            @include flex ($direction:row, $justify:center, $align:center);
            color:$colorPrincipal;
            margin: $espacioM;
            padding: $espacioM;
            width: 95%;
            border-radius: $borderRadius;
            border: 2px solid #CCF8FB;
            .detalle-envios{
                @include flex ($direction:column, $justify:center, $align:center);
                padding: $espacioS;
                border: 1px solid #CCF8FB;
                border-radius: $borderRadius;
                margin: $espacioM;
                h4{
                    font-size: $sizeL;
                    margin-bottom: $espacioS;
                }
                ul{
                    list-style: none;
                    font-size: $sizeM;

                }
            }
        }
    }
    display: none;
}
