#section-envios{
    @include flex($direction:column, $content:center);
    font-family: $typography;
    background-color: $colorPrincipal;
    color: $colorSecundario;
    margin-bottom: $espacioXS;
    display: none;
    h1{
        font-size: $sizeXL;
        margin-top: $espacioL;
        margin-bottom: $espacioM;
    }
    p{
        font-size: $sizeL;
        text-align: center;
    }
}
.flex-ul{
    @include flex($direction: column, $content:center);
    align-items: center;
    margin: $espacioL;
    h2{
        font-size: $sizeL;
    }
    h3{
        font-size: $sizeM;
        font-weight: 400;
    }
    .card-envios{
        @include flex($direction: column, $content:center);
        border: 1px solid $colorSecundario;
        padding: $espacioS;
        margin: $espacioM;
        border-radius: $borderRadius;
    }
    .card-envios:hover{
        background-color: $colorSecundario;
        color: $colorPrincipal;
    }
}