footer{
    @include flex ($direction:row, $justify:space-around, $align:flex-start);
    width: 100vw;
    background-color: $colorTerciario;
    color: $colorSecundario;
    font-family: $typography;
    animation-name: animacion;
    animation-duration: 5s;
    padding: $espacioXS $espacioXS;
    position: fixed;
    bottom: 0;
    .contenedor-contacto, .contenedor-conectados{
        @include flex ($direction:column, $justify:center, $align:flex-start);
    }
    .contenedor-contacto h4, .contenedor-conectados h4{
        margin-bottom: $espacioXS;
        font-size: $sizeM;
        font-weight: 600;
    }
    .contenedor-contacto a, .contenedor-conectados a{
        text-decoration: none;
        color: $colorSecundario;
    }
    .contenedor-contacto a span p, .contenedor-conectados a span p{
        margin-left: $espacioS;
    }
    .contenedor-contacto a span, .contenedor-conectados a span{
        @include flex ($direction:row, $justify:space-around, $align:center);
        font-size: $sizeS;
        font-weight: 300;
        line-height: 1.5;
    }
    
    
}
