footer{
    @include flex ($direction:row, $justify:space-around, $align:center);
    width: 100vw;
    background-color: $colorTerciario;
    color: $colorSecundario;
    font-family: $typography;
    animation-name: animacion;
    animation-duration: 5s;
    padding: $espacioS 0;
    .contenedor-contacto, .contenedor-conectados{
        @include flex ($direction:column, $justify:center, $align:flex-start);
    }
    .contenedor-contacto h4, .contenedor-conectados h4{
        margin-bottom: $espacioS;
        font-size: $sizeM;
    }
    .contenedor-contacto a, .contenedor-conectados a{
        text-decoration: none;
        color: $colorSecundario;
    }
    .contenedor-contacto a span p, .contenedor-conectados a span p{
        margin-left: $espacioXS;
    }
    .contenedor-contacto a span, .contenedor-conectados a span{
        @include flex ($direction:row, $justify:space-around, $align:center);
        margin-bottom: .5rem;
        font-size: $sizeS;
    }
    
    
}
