footer{
    @include flex ($direction:row, $content:space-around);

    // background-color: #0dc1ee;
    background-color: $colorPrincipal;
    width: 100vw;
    font-family: $typography;
    color: $colorSecundario;
    padding: $espacioL;

    .div-follow , .div-visit {
        
        h3{
            font-size: $sizeL;
        }
        h4{
            font-size: $sizeM;
        }
        a{
            font-size: $sizeS;
            font-weight: 200;
            margin-top: $espacioS;
            color: $colorSecundario;
        }
    }
        
}
.redes{
    display: flex;
    flex-direction: column;
}
a{
    color: $colorPrincipal;
}
a:link{
    text-decoration:none;

}