#section-inicio{
    @include flex ($direction:column, $justify:center, $align:center);
    font-family: $typography;
    color: $colorSecundario;
    font-size: $sizeXL;
    border-radius: $borderRadius;
    margin-top: $espacioInicio;
    animation-name: animacion;
    animation-duration: 7s;
    .card-contenedor{
        @include flex ($direction:column, $justify:center, $align:center);
        h1{
            font-size: $sizeL;
            padding-bottom: 3rem;
        }
        p{
            font-size: $sizeS;
            width: 45%;
            text-align: center;
            font-weight: 300;
            line-height: 1;
        }
    }
    .catalogo-contenedor {
        overflow: hidden;
        margin-top: 6rem;
        a{
            text-decoration: none;
        }
    }
    .promos{
        @include flex ($direction:row, $justify:space-around, $align:center);
        width: 80%;
        padding: $espacioInicio 0 $espacioInicio 0;
        .combos, .ofertas{
            @include flex ($direction:column, $justify:center, $align:center);
            border: 1px solid $colorSecundario;
            border-radius: 10%;
            padding: $espacioXXXL;
            cursor: pointer;
            i{
                margin-bottom: 3rem;
                font-size: 6rem;
            }
            p{
                font-size: $sizeXL;
            }
        }
        .combos:hover, .ofertas:hover{
            background-color: $colorSecundario;
            color: $colorPrincipal;
        }
    }
}

// @keyframes animacion {
//     0%{
//         transform: translateX(-90%);
//     }
//     100%{
//         transform: translateX(0%);
//     }
// }

// boton catalogo

.cta {
    position: relative;
    margin: auto;
    padding: 0px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
   
.cta:before {
content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: $colorTerciario;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: $sizeM;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $colorSecundario;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $colorSecundario;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: $colorTerciario;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}