nav{
    @include flex ($direction:row, $content:center);
    button{
        margin: 1rem;
        font-family: $typography;
        font-size: $sizeL;
        color: $colorPrincipal;
        background-color: $colorSecundario;
        border: 1px solid $colorPrincipal;
        border-radius: $borderRadius;
        padding: $espacioXS;
    }
}
nav button:hover{
    background-color: $colorPrincipal;
    color: $colorSecundario;
}