#section-pagos{
    @include flex($direction:column, $content:center);
    font-family: $typography;
    color: $colorPrincipal;
    width: 65%;
    font-size: $sizeL;
    padding: $espacioXL;
    border-radius: $borderRadius;
    margin: $espacioM;
    box-shadow: 0 0 15px 0 $colorPrincipal;
    .card-pagos-principal{
        @include flex($direction:column, $content:center);
        background-color: $colorSecundario;
        padding: $espacioS;
        border-radius: $borderRadius;
        h1{
            text-align: center;
            margin-top: $espacioS;
            font-size: $sizeL;
        }
        #card-pagos{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color:$colorPrincipal;
            margin: $espacioM;
            padding: $espacioM;
            border-radius: $borderRadius;
            border: 2px solid #CCF8FB;
            .detalle-pagos{
                @include flex($direction:row, $content:flex-start);
                padding: $espacioS;
                border: 1px solid #CCF8FB;
                border-radius: $borderRadius;
                margin: $espacioM;
                h4{
                    font-size: $sizeL;
                    margin-left: $espacioS;
                    font-weight: 200;
                }
                img{
                    width: 20%;
                }
            }
        }
    }
    
    display: none;
}
