#section-paniales{
    @include flex ($direction:column, $justify:center, $align:center);
    font-family: $typography;
    margin-top: $espacioL;
    .botones{
        @include flex ($direction:column, $justify:center, $align:center);
        flex-wrap: wrap;
        width: 80%;
        button{
            background-color: $colorSecundario;
            color: $colorPrincipal;
            border: none;
            padding: $espacioS $espacioXS;
            margin: $espacioXS;
            font-size: $sizeS;
            font-weight: bold;
            border-radius: $borderRadius;
            width: 8rem;
            cursor: pointer;
        }
        button:hover{
            background-color: $colorPrincipal;
            color: $colorSecundario;
        }
    }
    #card-paniales-pampers,
    #card-paniales-huggies,
    #card-paniales-babysec,
    #card-paniales-estrella,
    #card-paniales-duffy,
    #card-paniales-caricias{
        @include flex ($direction:column, $justify:center, $align:center);
        color:$colorSecundario;
        margin: $espacioXXL;
        .contenedor-paniales{
            @include flex ($direction:row, $justify:center, $align:center);
            flex-wrap: wrap;
            .card-paniales{
                @include flex ($direction:column, $justify:center, $align:center);
                border-radius: $borderRadius;
                border: 2px solid #CCF8FB;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
                width: 30%;
                padding: $espacioXS;
                margin: $espacioS;
                .contenedor-img{
                    width: 30%;
                    img{
                        width: 100%;
                    }
                }
                .contenedor-texto{
                    @include flex ($direction:column, $justify:center, $align:center);
                    h4{
                        font-size: $sizeM;
                        padding-top: $espacioM;
                        padding-bottom: $espacioXS;
                        text-align: center;
                    }
                    p{
                        font-size: $sizeS;
                        line-height: 1.5;
                        text-align: center;
                    }
                }
            }
        }
    }
    display: none;
}

