@media screen and (max-width: 2560px) {
    nav button{
        font-size: $sizeXXL;
    }
// inicio
    #section-inicio .card-contenedor .card-integrantes{
        h1, a{
            font-size: $sizeXXL;
        }
        h4{
            font-size: $sizeXL;
        }
    }
// pañales
    #section-paniales {
        h1{
            font-size: $sizeXXL;
        }
        .botones button img{
            width: 7rem;
        }
        .card-detalle{
            margin-top: $espacioM;
        }
        .card-detalle .detalle {
            h4{
                font-size: $sizeXL;
            }
            p{
                font-size: $sizeL;
            }
            .talles li{
                font-size: $sizeL;
            }
        }
    }
// juguetes
    #section-juguetes {
        h1{
            font-size: $sizeXXL;
        }
        #card-juguetes{
            h2{
                font-size: $sizeXL;
            }
        }
    }
        
    #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete {
        h4{
            font-size: $sizeXL;
        }
        p{
            font-size: $sizeL;
        }
    }
// ropa
    #section-ropa .card-principal {
        h1{
            font-size: $sizeXXL;
        }
        h4{
            font-size: $sizeXL;
        }
        #card-ropa .card-detalle-ropa .detalle-ropa {
            h4{
                font-size: $sizeXL;
            }
            p{
                font-size: $sizeL;
            }
        }
        .contacto-ropa{
            margin-top: $espacioXL;
        }
    }
    
//envios
    #section-envios .card-envios-principal{
        h1{
            font-size: $sizeXXL;
        }
        h4, h3{
            font-size: $sizeXL;
        }
        #card-envios .detalle-envios {
            h4{
                font-size: $sizeXL;
            }
            li{
                font-size: $sizeL;
            }
        }
    }
//pagos
    #section-pagos .card-pagos-principal {
        h1{
            font-size: $sizeXXL;
        }
        #card-pagos .detalle-pagos h4{
            font-size: $sizeXL;
        }
    }
//footer
    footer {
        h1{
            font-size: $sizeXXL;
        }
        .redes a:link{
            font-size: $sizeXL;
        }
    }
}

@media screen and (max-width: 1440px) {
    header img {
        height: 20vh;
    }
    footer .div-follow h3, footer .div-visit h3, footer .div-visit a, footer .div-follow a, a{
        font-size: 2.3rem;
    }
    #section-paniales .card-detalle .detalle {
        p , .talles li {
            font-size: 1.7rem;
        }
    }
    #section-paniales .card-detalle img{
        margin-right: $espacioL;
    }
    #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1024px){
    header img {
        height: 13vh;
    }
    nav button{
        font-size: $sizeL;
    }
    #section-paniales .botones button img{
        width: 5rem;
    }
    #section-paniales .card-detalle .detalle p, #section-paniales .card-detalle .detalle .talles li , 
    #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p,
    #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p
    {
        font-size: $sizeM;
    }
    #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p{
        text-align: center;
    }
    #section-envios .card-envios-principal h4, #section-envios .card-envios-principal h3,
    #section-ropa .card-principal h4{
        font-size: $sizeL;
    }
    #section-envios .card-envios-principal #card-envios .detalle-envios li{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 768px){
    //header
    header img{
        width: 30vw;
        height: 10vh;
    }
    nav button, #section-inicio .card-contenedor .card-integrantes h4,
    #section-inicio .card-contenedor .card-local h4,
    #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete h4{
        font-size: $sizeM;
    }
    #section-inicio .card-contenedor .card-integrantes h1, #section-inicio .card-contenedor .card-integrantes a,
    #section-inicio .card-contenedor .card-local h1,
    #section-paniales .card-detalle .detalle h4,
    {
        font-size: $sizeL;
    }
    #section-paniales .botones button img{
        width: 3.5rem;
    }
    #section-paniales .card-detalle .detalle p, 
    #section-paniales .card-detalle .detalle .talles li, #section-juguetes #card-juguetes .card-detalle-juguetes .detalle-juguete p, 
    #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa p{
        font-size: $sizeS;
    }
    #section-paniales .card-detalle .detalle h4{
        font-size: $sizeM;
    }
    #section-juguetes #card-juguetes h2{
        text-align: center;
    }
    #section-envios .card-envios-principal h4, #section-envios .card-envios-principal h3, #section-ropa .card-principal h4{
        font-size: $sizeM;
    }
    #section-inicio .card-contenedor .card-integrantes h1, #section-inicio .card-contenedor .card-integrantes a, #section-inicio .card-contenedor .card-local h1, #section-paniales .card-detalle .detalle h4, #section-ropa .card-principal #card-ropa .card-detalle-ropa .detalle-ropa h4{
        font-size: $sizeM;

    }
    #section-envios .card-envios-principal h4, #section-envios .card-envios-principal h3, #section-ropa .card-principal h4{
        font-size: $sizeM;

    }




}
@media screen and (max-width:425px){
    header img {
        height: 13vh;
        width: 33vw;
    }
    nav button {
        margin: $espacioXS;
        font-size: $sizeS;
    }
    #section-paniales h1 {
        font-size: $sizeM;
        margin: $espacioS;
    }
    h2{
        font-size: $sizeM;
    }
    footer .div-follow h3, footer .div-visit h3, footer .div-visit a, footer .div-follow a, a{
        font-size: $sizeS;
    }
    #section-inicio h1, #section-inicio p{
        font-size: $sizeM;
        text-align: center;
    }
}