@media screen and (max-width: 768px){
    header button {
        padding: 0.8rem;
    }
    #section-inicio .promos{
        @include flex ($direction:column, $justify:center, $align:center);
        .combos, .ofertas{
            padding: $espacioL;
            i{
                font-size: 4rem;
            }
            p{
                font-size: 2rem;
            }
        }
        .combos{
            margin-bottom: $espacioM;
        }
    }
    #section-paniales,
    #section-juguetes,
    #section-ropa,
    #section-contacto{
        margin-top: 6rem;
    }
    #section-paniales{
        #card-paniales-pampers,
        #card-paniales-huggies,
        #card-paniales-babysec,
        #card-paniales-estrella,
        #card-paniales-duffy,
        #card-paniales-caricias{
            .contenedor-paniales{
                .card-paniales{
                    .contenedor-img{
                        width: 45%;
                    }
                    .contenedor-texto{
                        h4{
                            font-size: 1.2rem;
                            font-weight:500;
                        }
                        p{
                            font-size: .8rem;
                            line-height: 1.2;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #section-juguetes {
        #card-juguetes {
            .card-detalle-juguetes {
                .detalle-juguete {
                    .contenedor-texto-juguete{
                        h4{
                            font-weight: 600;
                        }
                        p{
                            line-height: 1.2;
                        }
                    }
                    .contenedor-img-juguete {
                        width: 100%;
                    }
                }
            }
        }    
    }
    #section-ropa{
        .card-principal {
            h2{
                font-size: $espacioM;
            }
        }
    }
    .cta span{
        font-size: 1.2rem;
    }
    #section-contacto {
        .card-contacto {
            margin-top: 2.5rem;
            .contacto-texto{
                p, a{
                    font-size: 1.2rem;
                }
            }
            .contacto-form{
                label{
                    font-size: 1.2rem;
                }
            }
        }
        
    }

}

@media screen and (max-width:425px){
    header button{
        font-size: .8rem;
        padding: .2rem;
    }
    #section-inicio{
        margin-top: 5rem;
        .card-contenedor{
            p{
                font-size: .9rem;
                width: 65%;
            }   
        }
        .catalogo-contenedor{
            margin-top: 2rem;
        }
        .promos{
            padding-top:5rem;
            .combos, .ofertas{
                padding: 1.5rem;
                i{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }

    #section-paniales,
    #section-juguetes,
    #section-ropa,
    #section-contacto{
        margin-top: 4rem;
    }

    #section-paniales {
        .botones button{
            font-size: .6rem;
            padding: 0.4rem;
            margin: 0.2rem;
        }
        #card-paniales-pampers,
        #card-paniales-huggies,
        #card-paniales-babysec,
        #card-paniales-estrella,
        #card-paniales-duffy,
        #card-paniales-caricias{
            .contenedor-paniales{
                .card-paniales{
                    margin: 0.5rem;
                    .contenedor-img{
                        width: 45%;
                    }
                    .contenedor-texto{
                        h4{
                            font-size: 1rem;
                            font-weight:500;
                            padding-top: 0.5rem;
                        }
                        p{
                            font-size: .6rem;
                            line-height: 1.1;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    #section-juguetes {
        #card-juguetes {
            h2 {
                font-size: 1rem;
            }   
            .card-detalle-juguetes{
                .detalle-juguete{
                    margin: .2rem;
                    .contenedor-texto-juguete{
                        h4{
                            font-size: 1rem;
                            padding-top: 0.5rem;
                        }
                        p{
                            line-height: 1;
                            font-size: .5rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    #section-ropa{
        padding: .5rem;
        margin: 4rem 2rem 0 2rem;
        .card-principal{
            h2{
                font-size: 1rem;
            }
            .contenedor-contactos-ropa {
                p{
                    font-size: .8rem;

                }
                .contenedor-redes-ropa{
                    margin-top: 4rem;
                    margin-bottom:2rem
                }
            }
        }
    }
    cta:before{
        width: 25px;
        height: 25px;
    }
    .cta span {
        font-size: .8rem;
    }    
    #section-contacto {
        width: 100%;
        h2 {
            font-size: 1.5rem;
        }   
        .card-contacto {
            margin-top: 1.5rem;
            .contacto-texto{
                p, a{
                    font-size: .8rem;
                }
                a span p{
                    margin-left: .3rem;
                }

            }
            .contacto-form{
                label{
                    font-size: .8rem;
                }
                .enviar{
                    font-size: .8rem;
                }
            }
        }
    }
    footer {
        .contenedor-contacto, .contenedor-conectados {
            h4{
                font-size: 1rem;

            }
            a span{
                font-size: .6rem;
                p{
                    margin-left: .4rem;
                }
            }
        }
    }
}

@media screen and (max-width:375px){
    #section-paniales {
        #card-paniales-pampers,
        #card-paniales-huggies,
        #card-paniales-babysec,
        #card-paniales-estrella,
        #card-paniales-duffy,
        #card-paniales-caricias{
            .contenedor-paniales{
                .card-paniales{
                    .contenedor-img{
                        width: 55%;
                    }
                    .contenedor-texto{
                        h4{
                            font-size: .8rem;
                            font-weight:400;
                            padding-top: 0.3rem;
                        }
                        p{
                            font-size: .5rem;
                        }
                    }
                }
            }
        }
    }
    #section-contacto {
        .card-contacto {
            .contacto-texto{
                p, a{
                    font-size: .65rem;
                }
            }
            .contacto-form{
                label{
                    font-size: .65rem;
                }
                .enviar{
                    font-size: .65rem;
                }
            }
        }
    }
    footer .contenedor-contacto h4, footer .contenedor-conectados h4 {
        font-size: .8rem;
    }
}

// @media screen and (max-width:320px){
    
// }