#section-ropa{
    @include flex($direction:column, $content:center);
    font-family: $typography;
    color: $colorPrincipal;
    margin-bottom: $espacioXS;
    .ropa-logo{
        width: 15%;
    }
    h1{
        font-size: $sizeXL;
        margin-top: $espacioM;
    }
    p{
        font-size: $sizeL;
        margin-top: $espacioS;
    }
    .ropa-link{
        @include flex($direction:row, $content:center);
        a{
            margin: $espacioM;
            font-size: $espacioM;
        }
    }
    display: none;
}